
#base_title
{
    text-align: center;
    color: purple;
}


body{
    font-family:'Times New Roman', Times, serif;
}

header{
    margin-top: 20px;
    margin-bottom: 50px;
}

h1 {
  color: green;
}
h2{
  color: blue;
}
h3 {
  color: purple;
}
h4 {
  color: #FF8F00;
}

form{
    display:flex;
    flex-direction: column;
}

#log_bloc_connection
{
    display: flex;
    gap: 12em;
    margin-left: 33em;
}

log_block_registr
{
margin-left: 0em;
}

log_bloc_login
{
margin-left: 50em;
}

#log_btn_inscr
{
margin-left: 5em;
width: 120px;
height: 25px;
border-radius: 7px

}
#log_btn_connect
{
margin-left: 20em;
margin-top: 2em;
width: 120px;
height: 25px;
border-radius: 7px
}
s

#reg_title_inscr
{
margin-left: 9em;
}
/* comment*/
#reg_bloc_inscription
{
    margin-left: 37em;
}

#reg_btn_retour
{
margin-left: 15em;
margin-top: 2em;
width: 80px;
height: 25px;
border-radius: 7px
}

#reg_btn_inscr
{
margin-left: 2em;
margin-top: 0em;
width: 80px;
height: 25px;
border-radius: 7px
}



.cl_ticket_form_title{
margin-left: 258px;
width: 55%;
color: green;
}

.cl_ticket_form_description{
margin-left: 300px;
color: green;
width: 55%;
}


.cl_review_form_headline
{
width: 55%;
text-color : purple;
margin-left: 258px;
color: purple;
}

.cl_review_form_body{
    margin-left: 300px;
    background-color: white;
    width: 55%;
    color: purple;
}

.cl_review_form_rating{
    display: flex;
    width: 65%;
    list-style-type: None;
    letter-spacing:6rem;
    margin-left:calc( 27% - 18%);
    justify-content: space-around;
    opacity: 1;
    color:  purple;
    text-align: left;
}

.review_form_mess{
text-orientation: inherit;
}

.cl_ticketReview_bouton_envoyer{
margin-left: 66%;
margin-top: 0px;
width: 80px;
height: 25px;
border-radius: 7px
color :  blue;
}

.cl_ticket_update_btn{
margin-left: 1200px;
margin-top: 0px;
width: 80px;
height: 25px;
border-radius: 7px
color :  blue;
}

.review_form_btn{
margin-left: 1250px;
}

.cl_extrTicket_btn_envoi{
margin-left: 800px;
margin-top: 0px;
width: 80px;
height: 25px;
border-radius: 7px
color :  blue;
}

.cl_ticket_delete_btn{
margin-left: 400px;
margin-top: 0px;
width: 80px;
height: 25px;
border-radius: 7px;
color :  red;
}
.cl_review_delete_btn{
margin-left: 450px;
margin-top: 0px;
width: 80px;
height: 25px;
border-radius: 7px;
color :  red;
}

.cl_ticket_update_btn{
margin-left: 65%;
margin-top: 0px;
width: 80px;
height: 25px;
border-radius: 7px;
color :  blue;
}

.idAbonnTitre1, .idAbonnTitre2, .idAbonnTitre3{
text-align: center;
font-size:30px;
color: green;
}

.cl_abonn_desabonnement, .cl_abonn_liste_abonne{
margin:auto;
}

.cl_abonn_abonner{
margin:auto;
}
.cl_abonn_user{
position:relative;
top:36px
}

.cl_list_abonn{
position:relative;
top:39px
}
.cl_bouton_desabonner{
position:relative;
left:820px
}

.cl_abonn_bouton_envoyer2{
position:relative;
left:300px
}

.cl_abonn_follow_list{
display:block;
height: 20px;
width: 600px;
text-align: center;
}

.abonn_abonne{
display:block;
height: 20px;
width: 800px;
text-align: center;
block:center;
border: 1px solid black;
}

.cl_bouton_desabonner{
border: 1px solid black;
padding: 3px;
}

.cl_creatTicketReview_titre1{
position:relative;
left:42%
}

.cl_creatTicketReview_titre2{
position:relative;
left:42%
}

.cl_creatTicketReview_ticket{
position:relative;
left:10%
}

.cl_creatTicketReview_review{
position:relative;
left:10%
}

.cl_extr_ticket{
margin: auto;
}

.cl_extrTicket_btn_envoi{
position:relative;
right:0
}

.cl_extr_review{
margin: auto;
}


.cl_ticket_titre{
margin: auto;
text-align: center;
position:relative;
top:90;
left: 25%;
}

.cl_ticket_description{
margin: center;
text-align: left;
position: relative;
top:135;
left:700;
}

.cl_ticket_image{
position:relative;
top:300;
left:10;
}

.cl_ticket_btn_envoi{
display:block;
height: 20px;
width: 80px;
position:relative;
left:70%;
}

.cl_ticket_delete_a{
position:relative;
left:30%
}

.cl_review_delete_a{
position:relative;
left:30%
}

.cl_posts_div{
 margin: 0 auto;
}
.cl_posts_divP1{position: relative; top: 15px; left: 0px; right: 0px; width: 200px; border: 4px solid purple;
text-align: left; width:950px;height:925px; padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px
}

.cl_posts_divP2{
position: relative; top: 0px; left: 0px;right:50px;width: 200px; border: 2px solid black; text-align: left;
width:930px;height:530px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:100px
}

.cl_posts_divP3{
position: relative; top: 0px; left: 0px; width: 200px; border: 5px solid IndianRed; text-align: left;
width:1030px;height:640px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px
}

.cl_posts_divP1_1{position: relative; top: 0px; left: 50px; right:50px; width: 200px; border: 2px solid green;
text-align: left; width:800px;height:510px; padding-top:0px; padding-right:0px; padding-bottom:60px; padding-left:100px
}

.cl_posts_divP1_2{position: relative; top: 0px; left: 50px;right:50px; width: 200px; border: 2px solid pink;
text-align: left; width:800px;height:560px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:100px
}

.cl_posts_delete_review, .cl_posts_delete_ticket, .cl_posts_update_ticket, .cl_posts_update_review {
border: 1px solid black; border-radius: 5px; padding: 0px 50px 5px
}
.cl_posts_update_ticket4{
border: 1px solid black; border-radius: 5px; padding: 0px 50px 5px;
position:relative;
left:8%
}
.cl_posts_delete_ticket4{
border: 1px solid black; border-radius: 5px; padding: 0px 50px 5px;
position:relative;
left:8%
}
.cl_ticket_titre_page{
position:relative;
left:45%
}

.cl_flux_div{
 margin: 0 auto;
}

.cl_flux_divP1{
position: relative; top: 15px; left: 0px; right: 0px; width: 200px; border: 4px solid purple; text-align: left;
width:950px;height:780px; padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px
}
.cl_flux_divP1_1{position: relative; top: 15px; left: 20px; right: 0px; width: 200px; border: 4px solid green;
text-align: left; width:850px;height:480px; padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:30px
}
.cl_flux_divP2{
position: relative; top: 15px; left: 0px; right: 0px; width: 200px; border: 4px solid #076973;
text-align: left; width:950px;height:800px; padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px
}
.cl_flux_divP3{
position: relative; top: 15px; left: 0px; right: 0px; width: 200px; border: 4px solid blue; text-align: left;
width:950px;height:550px; padding-top:0px; padding-right:80px; padding-bottom:0px; padding-left:0px
}

.cl_flux_btn_creat_ticket{
border: 1px solid black; padding: 10px 50px 15px;width:100px; position: static; top: 0px; left: 0px;
right: 0px;border-radius: 5px; margin-right: 100px;
}
.cl_flux_btn_creat_review{
border: 1px solid black; padding: 10px 65px 15px;width:100px;position: static; top: 0px; left: 150px;
right: 0px;border-radius: 5px;margin-left: 200px;
}
.cl_flux_btn_crit{
 margin: 0 auto;
}

.cl_flux_btn_creat_review_answer{
border: 1px solid black; padding: 0px 50px 5px;width:10px; position: relative; top: 0px; left: 5px;
right: 500px;border-radius: 5px;
}

.cl_flux_img{
position: static; top: 0px; ; right: 50px; left: 50px;
right: 0px;
}


#id_Image{ /*id_ + nom du champs correspond à l'id' labels = {"title": "Titre", "description": "", "image": "Image"}
dans le formulaire*/
position:relative;
left: 28%
}
